tml,
body {
  height: 100%;
}

body {
  background: #A1FFCE;
  background: -webkit-linear-gradient(to left, #A1FFCE, #FAFFD1);
  background: linear-gradient(to left, #A1FFCE, #FAFFD1);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#intro {
  height: 40vh;
  width: 100%;
  position: relative;
}

#intro h1 {
  font-size: 6vmin;
}

#intro h3 {
  font-size: 4vmin;
}

a:link {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.centered {
  text-align: center;
  height: 50%;
  margin: auto;
button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}
